* {
	box-sizing:border-box;
}
div.clear {
	clear: both;
}
body{
	background-color: #d9dde4;
}
div.shadow {
	background-color: #212c41;
	box-shadow: -10px -10px 0px #3c4f76;
	padding: 20px;
}
div.title{
	max-width: 800px;
	width: 90%;
	margin: 50px auto 0 auto;
	padding: 10px 150px;
	transition: background-color 2s ease;
}
div.title:hover{
	background-color: #12151a;
}
div.title h1{
	color:#99a3b7;
	text-align: center;
	font-size: 50px;
	font-family: 'EB Garamond', serif;
}
img{
	width: 40%;
	position: absolute;
	top: 89%;
	left: 25%;
	transform: translate(-50%, -50%);
}
div.about {
	width: 45%;
	margin: 50px auto 0 auto;
	padding: 50px 150px;
	position: absolute;
	top: 40%;
	left: 48%;
	padding-left: 30px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 15px;
	transition: background-color 2s ease;
}
div.about:hover{
	background-color: #12151a;
}
div.about h2{
	color:#99a3b7;
	font-size: 50px;
	font-family: 'EB Garamond', serif;
}
div.about p{
	color:#99a3b7;
	font-size: 30px;
	font-family: 'EB Garamond', serif;
}
div.character{
	max-width: 1050px;
	width: 90%;
	margin: 60px auto 0 auto;
	padding: 25px 150px;
	margin-top: 65%;
	padding-right: 30px;
	margin-bottom: 120px;
	padding-bottom: 20px;
	transition: background-color 2s ease;
}
div.character:hover{
	background-color: #12151a;
}
div.character h2{
	color:#99a3b7;
	font-size: 50px;
	text-align: left;
	font-family: 'EB Garamond', serif;
}
div.character ul{
	color:#99a3b7;
	font-size: 30px;
	text-align: left;
	font-family: 'EB Garamond', serif;
}
div.character-text-wrap {
	float: right;
	width: 55%;
	text-align: left;
	padding: 0;
	padding-top: 0;
}
img.dogo{
	width: 38%;
	position: absolute;
	top: 199.8%;
	left: 32.3%;
}
div.fun-facts{
	width: 45%;
	float: left;
	margin-bottom: 20px;
	padding-right: 30px;
	margin-left: 9%;
	padding-top: 0;
	transition: background-color 2s ease;
}
div.fun-facts:hover{
	background-color: #12151a
}
div.fun-facts h2{
	color:#99a3b7;
	font-size: 50px;
	text-align: left;
	font-family: 'EB Garamond', serif;
	padding: 0;
}
div.fun-facts ul{
	color:#99a3b7;
	font-size: 30px;
	text-align: left;
	font-family: 'EB Garamond', serif;
}
img.dogo3{
	width: 60%;
	float: right;
	margin-top: 115%;
	margin-left: 45%
}
